.google{
    background: none;

}
.google:hover{
    background: #5235E8;
    color: white;
    transition: all 0.5s linear;

}
.anim img{
    opacity: 0;
    animation: animated 1s ease forwards;
}


@keyframes animated {
    from{
        opacity: 0;
        width: 0;

    }
    to{
        opacity: 1;
        width: 100%;
    }
}
.imgRight img{
    height: 800px;
}
.reset{
    border:1px solid #efefef;
    -webkit-box-shadow: 0px 3px 57px 16px rgba(199,199,199,1);
    -moz-box-shadow: 0px 3px 57px 16px rgba(199,199,199,1);
    box-shadow: 0px 3px 57px 16px rgba(199,199,199,1);

}

.animRes{
    animation:ResetAnim 1s ease forwards;
}

@keyframes ResetAnim {
    0%{
        opacity:0;
        height:0;
    }
    100%{
        opacity: 1;
        height: 100%;
    }
}
